
<div class="card" *ngFor="let items of data" style="width: 18rem;">
    <img src="../../assets/191811988_4183089248379647_808939207355605925_n.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{items.name}}</h5>
      <p class="card-text">Contact Information</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{items.number}}</li>
      <li class="list-group-item">{{items.address}}</li>
      <li class="list-group-item">{{items.userGroup}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">{{items.email}}</a>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
 